body {
  background-color: #112;
  font-size: 16px;
}
/*
@font-face {
  font-family: "mplus";
  src: url("https://media.kanjialive.com/fonts/mplus-1m-light-webfont.woff2")
    format("woff2");
}
*/
.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin: 5px 0;
  color: #fff;
  text-shadow: 0.02em 0.02em 0 #00ff10;
}

h2 {
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.616);
}

p {
  font-size: 0.7em;
}

.small {
  font-size: 0.4em;
  margin: 0;
}

.grey {
  color: #aaa;
}

.btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.5;
}

.btn > * {
  width: 100%;
}

button {
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  opacity: 0.5;
}

nav ul {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li a {
  color: #fff;
}

nav ul li a.selected {
  font-weight: bold;
}

nav:hover,
.btn:hover {
  opacity: 1;
}

.selection {
  display: flex;
  flex-wrap: wrap;
}

.selection p {
  margin: 0.5em;
  cursor: pointer;
}

.selection p:hover,
.selection p.selected {
  color: #00ff10;
}

.radical {
  margin: 2em 0;
}

.grades {
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
  width: 100%;
}

.grades span {
  cursor: pointer;
  width: 100%;
  color: #aaa;
}

.grades span.selected {
  font-weight: 800;
  color: #fff;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  text-align: left;
  column-gap: 0.4em;
  margin: 5em 1em;
}

.images {
  background: #fff;
  width: 100%;
}

.grid > * {
  align-self: center;
}

.examples {
  display: grid;
  justify-items: start;
  font-size: 0.4em;
  grid-template-columns: 40% auto 1em;
  grid-template-rows: auto;
  column-gap: 0.4em;
  row-gap: 0.4em;
  text-align: left;
  margin: 5em 1em;
}

img,
video {
  width: auto;
  height: 3em;
  margin: 0.5em;
}
audio {
  display: none;
}
svg {
  fill: #fff;
  width: 1em;
  height: auto;
  margin: 0 0.5em;
  cursor: pointer;
}

.list {
  margin: 0 1em;
}

.list h1,
.lessons h1 {
  margin: 2em 0 1em;
}

section {
  cursor: pointer;
}

.list section p {
  display: flex;
  justify-content: center;
}

.list section p span {
  text-align: left;
}

.list section p span:nth-of-type(1) {
  width: 30%;
}

.list section p span:nth-of-type(2) {
  color: #aaa;
  width: 70%;
}

.lessons .flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lessons .flex p {
  text-align: left;
}

.lessons .flex .first,
.lessons .flex .last {
  width: 50%;
}

.lessons svg {
  fill: #aaa;
}

.lessons .separator {
  width: 100%;
  background: #00ff10;
  height: 1px;
}

.lessons .gridi {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  justify-items: center;
  grid-gap: 1px;
  background: #00ff10;
  margin-bottom: 2em;
}

.lessons .gridi p {
  margin: 0;
  background: #112;
  align-self: stretch;
  justify-self: stretch;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.6em;
}

.lessons .gridi h4 {
  color: #112;
  text-shadow: none;
  margin: 0.4em 0;
  grid-column: 1;
  grid-row: 1 / 3;
}

.lessons .gridi p .cell {
  padding: 0.2em;
  text-align: left;
  width: 100%;
}

.lessons .gridi p:nth-of-type(1) {
  grid-column: 2 / 4;
}
.lessons .gridi p:nth-of-type(2) {
  grid-column: 4 / 6;
}

.lessons .gridi p:nth-of-type(3) {
  grid-column: 2;
}
.lessons .gridi p:nth-of-type(4) {
  grid-column: 3;
}
.lessons .gridi p:nth-of-type(5) {
  grid-column: 4;
}
.lessons .gridi p:nth-of-type(6) {
  grid-column: 5;
}
